* {
          padding: 0;
          margin: 0;
          box-sizing: border-box;
          font-family: 'Poppins', sans-serif;
          text-decoration: none;
          list-style: none;
          scroll-behavior: smooth;
        }
    
        :root {
          --bg-color: #2a2a2a;
          --second-bg-color: #202020;
          --text-color: #fff;
          --second-color: #ccc;
          --main-color: blueviolet;
          --big-font: 3rem;
          --h2-font: 3rem;
          --p-font: 1.1rem;
        }
    
        body {
          background: var(--bg-color);
          color: var(--text-color);
          
        }
    
        header {
          position: fixed;
          width: 100%;
          top: 0;
          right: 0;
          z-index: 1000;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: transparent;
          padding: 22px 15%;
          border-bottom: 1px solid transparent;
          transition: all .45s ease;
        }
    
        .logo {
          color: var(--text-color);
          font-size: 35px;
          font-weight: 700;
          letter-spacing: 1px;
    
        }
    
        span {
          color: var(--main-color);
        }
    
        .navlist {
          display: flex;
        }
    
        .navlist a {
          color: greenyellow;
          font-size: 18px;
          font-weight: 500px;
          margin: 0 25px;
          transition: all .45s ease;
        }
    
        .navlist a:hover {
          color: var(--main-color);
        }
    
        .navlist a.active {
          color: var(--main-color);
        }
    
        #menu-icon {
          font-size: 35px;
          color: var(--text-color);
          z-index: 10001;
          cursor: pointer;
          margin-left: 25px;
          display: none;
        }
    
        .button {
          display: inline-flex;
          align-items: center;
          justify-content: center;
    
        }
    
        .btn {
          display: inline-block;
          padding: 12px 28px;
          background: var(--main-color);
        }
    
        .btn:hover {
          transform: scale(0.9);
        }
        
        header.sticky {
          background: #b6adadcc;
          /*border-bottom: 1px solid var(--main-color);
        padding: 12px 15%;*/
          opacity: 0.8;
        }
    


/* Responsive part ni kuys*/
@media(max-width: 1480px){
  header{
    padding: 12px 2.5%;
    transition: .1s;
  }
  header.sticky{
    padding: 10px;
    transition: .1s;
  }
 
}
@media(max-width: 1100px){
  :root{
  --big-font:4rem;
  --h2-font: 2.5rem;
  --p-font: 1rem;
  transition: .1s;
  }

}

@media(max-width: 840px){
  #menu-icon{
    display: block;
  }
  .navlist{
  position: absolute;
  top: -1000px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: black;           
  text-align: left;
  transition: all .45 ease;
  opacity: 0.7;
  }
  .navlist a{
    display:block;
    margin: 17px;
    font-size: 20px;
    transition: all .45s ease;
    
  }
  .navlist.open{
    top: 100%;
  }
}





/**/
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Sen";
}
* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  cursor: none;
  user-select: none;
  -webkit-user-drag: none;
}
#main {
  display: flex;
}
#main .part {
  flex: 1;
}
#main .part .section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#main .part .section img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: var(--x);
  pointer-events: none;
}
.cursor {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: white;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  mix-blend-mode: difference;
}
.cursor-f {
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='47' height='47' viewBox='0 0 47 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M42.4202 42.4202C38.8403 46 33.3594 46 23.5 46C13.6406 46 8.15966 46 4.57983 42.4202C1 38.8403 1 33.3594 1 23.5C1 13.6406 1 8.15966 4.57983 4.57983C8.15966 1 13.6406 1 23.5 1C33.3594 1 38.8403 1 42.4202 4.57983C46 8.15966 46 13.6406 46 23.5C46 33.3594 46 38.8403 42.4202 42.4202Z' stroke='white'/%3E%3C/svg%3E%0A");
  background-size: cover;
  mix-blend-mode: difference;
  pointer-events: none;
  opacity: 0.5;
}
.buttons {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
.buttons button {
  border: none;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg width='10' height='29' viewBox='0 0 10 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0V27L1 17.4857' stroke='white' stroke-width='2' /%3E%3C/svg%3E%0A") no-repeat;
  background-position: center;
  width: 10px;
  height: 30px;
  display: block;
  margin: 20px 0;
  padding: 0 15px;
  transition-duration: 0.6s;
}
.buttons button.next {
  transform: scaleY(-1);
}
.buttons button.prev:active {
  transform: translateY(8px);
}
.buttons button.next:active {
  transform: scaleY(-1) translateY(8px);
}
h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  color: white;
  text-align: center;
  font-size: 2.6em;
  mix-blend-mode: overlay;
  pointer-events: none;
  opacity: 0.5;
}
.content {
  width: 90%;
  position: absolute;
  bottom: 20px;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  z-index: 99;
  font-size: 0.8em;
}
.content p {
  margin: 0.5em auto;
}
.content kbd {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  display: inline-block;
  border-radius: 3px;
  font-size: 0.9em;
  vertical-align: text-top;
}
.content a {
  color: rgba(227, 227, 227, 0.78);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}
.content a:hover {
  padding-bottom: 1px;
}
