/* header */



body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

}

/* Content css*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #2a2a2a;
  --second-bg-color: #202020;
  --text-color: #fff;
  --second-color: #ccc;
  --main-color: blueviolet;
  --big-font: 3rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 22px 15%;
  border-bottom: 1px solid transparent;
  transition: all .45s ease;
}

.logo {
  color: var(--text-color);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
}

span {
  color: var(--main-color);
}

.navlist {
  display: flex;
}

.navlist a {
  color: greenyellow;
  font-size: 18px;
  font-weight: 500px;
  margin: 0 25px;
  transition: all .45s ease;
}

.navlist a:hover {
  color: var(--main-color);
}

.navlist a.active4 {
  color: var(--main-color);
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

header.sticky {
  background: #b6adadcc;
  /*border-bottom: 1px solid var(--main-color);
        padding: 12px 15%;*/
  opacity: 2;
}
/* Responsive part ni kuys*/
@media(max-width: 1480px){
  header{
    padding: 12px 2.5%;
    transition: .1s;
  }
  header.sticky{
    padding: 10px;
    transition: .1s;
  }
  section{
    padding: 110px 3% 60px;
  } 
}
@media(max-width: 1100px){
  :root{
  --big-font:4rem;
  --h2-font: 2.5rem;
  --p-font: 1rem;
  transition: .1s;
  }
  .home-text h3{
    font-size: 2rem;
  }
}
@media(max-width: 920px){
  .home{
    grid-template-columns: 1fr;
  }
}
@media(max-width: 840px){
  #menu-icon{
    display: block;
  }
  .navlist{
  position: absolute;
  top: -1000px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: black;           
  text-align: left;
  transition: all .45 ease;
  opacity: 0.7;
  }
  .navlist a{
    display:block;
    margin: 17px;
    font-size: 20px;
    transition: all .45s ease;
    
  }
  .navlist.open{
    top: 100%;
  }
}


/* LOG IN */
@import "https://fonts.googleapis.com/css?family=Ubuntu:400,700italic";
@import "https://fonts.googleapis.com/css?family=Cabin:400";
* {
  box-sizing: border-box;
}

html {
  background: black;
  background-size: cover;
  font-size: 10px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 100%;
  
}

/* =========================================
========================================= */
#logo {
  animation: logo-entry 4s ease-in;
  width: 500px;
  margin: 0 auto;
  position: relative;
  z-index: 40;
}

h1 {
  animation: text-glow 2s ease-out infinite alternate;
  font-family: 'Ubuntu', sans-serif;
  color: #00a4a2;
  font-size: 48px;
  font-size: 4.8rem;
  font-weight: bold;
  position: absolute;
  text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  top: 50px;
}
h1:before {
  animation: before-glow 2s ease-out infinite alternate;
  border-left: 535px solid transparent;
  border-bottom: 10px solid #00a4a2;
  content: ' ';
  height: 0;
  position: absolute;
  right: -74px;
  top: -10px;
  width: 0;
}
h1:after {
  animation: after-glow 2s ease-out infinite alternate;
  border-left: 100px solid transparent;
  border-top: 16px solid #00a4a2;
  content: ' ';
  height: 0;
  position: absolute;
  right: -85px;
  top: 24px;
  transform: rotate(-47deg);
  width: 0;
}

/* =========================================
Log in form
========================================= */
#fade-box {
  animation: input-entry 3s ease-in;
  z-index: 4;
}

.john-login form {
  animation: form-entry 3s ease-in-out;
  background: #111;
  background: linear-gradient(#004746, #111111);
  border: 6px solid #00a4a2;
  box-shadow: 0 0 15px #00fffd;
  border-radius: 5px;
  display: inline-block;
  height: 220px;
  margin: 200px auto 0;
  position: relative;
  z-index: 4;
  width: 500px;
  transition: 1s all;
}
.john-login form:hover {
  border: 6px solid #00fffd;
  box-shadow: 0 0 25px #00fffd;
  transition: 1s all;
}
.john-login input {
  background: #222;
  background: linear-gradient(#333333, #222222);
  border: 1px solid #444;
  border-radius: 5px;
  box-shadow: 0 2px 0 #000;
  color: #888;
  display: block;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  height: 40px;
  margin: 20px auto 10px;
  padding: 0 10px;
  text-shadow: 0 -1px 0 #000;
  width: 400px;
}
.john-login input:focus {
  animation: box-glow 1s ease-out infinite alternate;
  background: #0B4252;
  background: linear-gradient(#333933, #222922);
  border-color: #00fffc;
  box-shadow: 0 0 5px rgba(0, 255, 253, 0.2), inset 0 0 5px rgba(0, 255, 253, 0.1), 0 2px 0 #000;
  color: #efe;
  outline: none;
}
.john-login input:invalid {
  border: 2px solid red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.2), inset 0 0 5px rgba(255, 0, 0, 0.1), 0 2px 0 #000;
}
.john-login button {
  animation: input-entry 3s ease-in;
  background: #222;
  background: linear-gradient(#333333, #222222);
  box-sizing: content-box;
  border: 1px solid #444;
  border-left-color: #000;
  border-radius: 5px;
  box-shadow: 0 2px 0 #000;
  color: #fff;
  display: block;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  margin: 20px auto;
  padding: 0;
  position: relative;
  text-shadow: 0 -1px 0 #000;
  width: 400px;
  transition: 1s all;
}
.john-login button:hover,
.john-login button:focus {
  background: #0C6125;
  background: linear-gradient(#393939, #292929);
  color: #00fffc;
  outline: none;
  transition: 1s all;
}
.john-login button:active {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
  top: 1px;
}


/* =========================================
Spinner
========================================= */
#circle1 {
  animation: circle1 4s linear infinite, circle-entry 6s ease-in-out;
  background: #000;
  border-radius: 50%;
  border: 10px solid #00a4a2;
  box-shadow: 0 0 0 2px black, 0 0 0 6px #00fffc;
  height: 500px;
  width: 500px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -250px;
  overflow: hidden;
  opacity: 0.4;
  z-index: -3;
}

#inner-cirlce1 {
  background: #000;
  border-radius: 50%;
  border: 36px solid #00fffc;
  height: 460px;
  width: 460px;
  margin: 10px;
}
#inner-cirlce1:before {
  content: ' ';
  width: 240px;
  height: 480px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
}
#inner-cirlce1:after {
  content: ' ';
  width: 480px;
  height: 240px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
}

/* =========================================
Hexagon Mesh
========================================= */
.hexagons {
  animation: logo-entry 4s ease-in;
  color: #000;
  font-size: 52px;
  font-size: 5.1rem;
  letter-spacing: -0.2em;
  line-height: 0.7;
  position: absolute;
  text-shadow: 0 0 6px #00fffc;
  top: 310px;
  width: 100%;
  transform: perspective(600px) rotateX(60deg) scale(1.4);
  z-index: -3;
}

/* =========================================
Animation Keyframes
========================================= */
@keyframes logo-entry {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes circle-entry {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}
@keyframes input-entry {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes form-entry {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
    padding: 0;
  }
  20% {
    height: 0;
    border: 1px solid #00a4a2;
    width: 0;
    opacity: 0;
    padding: 0;
  }
  40% {
    width: 0;
    height: 220px;
    border: 6px solid #00a4a2;
    opacity: 1;
    padding: 0;
  }
  100% {
    height: 220px;
    width: 500px;
  }
}
@keyframes box-glow {
  0% {
    border-color: #00b8b6;
    box-shadow: 0 0 5px rgba(0, 255, 253, 0.2), inset 0 0 5px rgba(0, 255, 253, 0.1), 0 2px 0 #000;
  }
  100% {
    border-color: #00fffc;
    box-shadow: 0 0 20px rgba(0, 255, 253, 0.6), inset 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 #000;
  }
}
@keyframes text-glow {
  0% {
    color: #00a4a2;
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  }
  100% {
    color: #00fffc;
    text-shadow: 0 0 20px rgba(0, 255, 253, 0.6), 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 #000;
  }
}
@keyframes before-glow {
  0% {
    border-bottom: 10px solid #00a4a2;
  }
  100% {
    border-bottom: 10px solid #00fffc;
  }
}
@keyframes after-glow {
  0% {
    border-top: 16px solid #00a4a2;
  }
  100% {
    border-top: 16px solid #00fffc;
  }
}
@keyframes circle1 {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}