
    /* Content css*/
        * {
          padding: 0;
          margin: 0;
          box-sizing: border-box;
          font-family: 'Poppins', sans-serif;
          text-decoration: none;
          list-style: none;
          scroll-behavior: smooth;
        }
    
        :root {
          --bg-color: #2a2a2a;
          --second-bg-color: #202020;
          --text-color: #fff;
          --second-color: #ccc;
          --main-color: blueviolet;
          --big-font: 3rem;
          --h2-font: 3rem;
          --p-font: 1.1rem;
        }
    
        body {
          background: var(--bg-color);
          color: var(--text-color);
          
        }
    
        header {
          position: fixed;
          width: 100%;
          top: 0;
          right: 0;
          z-index: 1000;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: transparent;
          padding: 22px 15%;
          border-bottom: 1px solid transparent;
          transition: all .45s ease;
        }
    
        .logo {
          color: var(--text-color);
          font-size: 35px;
          font-weight: 700;
          letter-spacing: 1px;
    
        }
    
        span {
          color: var(--main-color);
        }
    
        .navlist {
          display: flex;
        }
    
        .navlist a {
          color: greenyellow;
          font-size: 18px;
          font-weight: 500px;
          margin: 0 25px;
          transition: all .45s ease;
        }
    
        .navlist a:hover {
          color: var(--main-color);
        }
    
        .navlist a.active {
          color: var(--main-color);
        }
    
        #menu-icon {
          font-size: 35px;
          color: var(--text-color);
          z-index: 10001;
          cursor: pointer;
          margin-left: 25px;
          display: none;
        }
    
        .button {
          display: inline-flex;
          align-items: center;
          justify-content: center;
    
        }
    
        .btn {
          display: inline-block;
          padding: 12px 28px;
          background: var(--main-color);
        }
    
        .btn:hover {
          transform: scale(0.9);
        }
        
        header.sticky {
          background: #b6adadcc;
          /*border-bottom: 1px solid var(--main-color);
        padding: 12px 15%;*/
          opacity: 0.8;
        }
    


/* Responsive part ni kuys*/
@media(max-width: 1480px){
  header{
    padding: 12px 2.5%;
    transition: .1s;
  }
  header.sticky{
    padding: 10px;
    transition: .1s;
  }
 
}
@media(max-width: 1100px){
  :root{
  --big-font:4rem;
  --h2-font: 2.5rem;
  --p-font: 1rem;
  transition: .1s;
  }

}

@media(max-width: 840px){
  #menu-icon{
    display: block;
  }
  .navlist{
  position: absolute;
  top: -1000px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: black;           
  text-align: left;
  transition: all .45 ease;
  opacity: 0.7;
  }
  .navlist a{
    display:block;
    margin: 17px;
    font-size: 20px;
    transition: all .45s ease;
    
  }
  .navlist.open{
    top: 100%;
  }
}


/* CHUCHU BLAH IMAGES CS */
.slider {
  width: 100%;
  height: 100vh;
}
.slider .items-group {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider .items-group .item {
  top: 0px;
  left: 0px;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  transition: 0.5s;
  visibility: hidden;
  position: relative;
  padding: 50px 20px;
  position: absolute;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.slider .items-group .item:hover .bg {
  opacity: 0.2;
}
.slider .items-group .item:hover .block {
  box-shadow: 0px 0px 50px #333;
}
.slider .items-group .item.active {
  opacity: 1;
  visibility: visible;
}
.slider .items-group .item .bg {
  top: 0px;
  left: 0px;
  opacity: 1;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  position: absolute;
  transform: scale(1.03);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.slider .items-group .item .blur {
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  filter: blur(5px);
  position: absolute;
  transform: scale(1.03);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.slider .items-group .item .block {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #ffffff;
  transition: box-shadow 0.5s;
  max-width: 300px;
  overflow: hidden;
  max-height: 450px;
  border-radius: 10px;
  transform: scale(1.03);
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: none;
}
.slider .items-group .item .block .circleLight {
  top: 0px;
  left: 0px;
  opacity: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.5s;
  position: absolute;
  border-radius: 10px;
  background: radial-gradient(circle at 80px 40px, #fff, transparent);
}
.slider .items-group .item .block .text {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-attachment: fixed;
}
.slider .items-group .item .block h2 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  margin-bottom: 0px;
}
.slider .items-group .item .block p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.slider .items-group .item .block:hover {
  box-shadow: 0px 0px 70px #111;
}
.slider .items-group .item .block:hover .circleLight {
  opacity: 0.4;
}
.slider .navigations {
  bottom: 0px;
  width: 100%;
  position: absolute;
}
.slider .navigations .dots {
  height: 20px;
  padding: 0px 0px;
  text-align: center;
}
.slider .navigations .dots li {
  width: 10px;
  height: 10px;
  cursor: pointer;
  transition: 0.3s;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.slider .navigations .dots li + li {
  margin-left: 10px;
}
.slider .navigations .dots li:hover {
  filter: blur(2px);
}
.slider .navigations .dots li.active {
  width: 15px;
  height: 15px;
}
.slider .navigations .dots li.active:hover {
  filter: blur(0px);
}